@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Quicksand", sans-serif;
}

.animated-btn {
  transition: all 0.3s ease-in;
}



nav {
  box-shadow: 0px 3px 6px rgba(34, 34, 34, 0.1);
}


.hero {
  height: 88vh;
  background-image: linear-gradient(to bottom right,
      rgba(207, 0, 88, 0.3),
      rgba(207, 0, 88, 0.08) 40%,
      rgba(207, 0, 88, 0) 50%,
      rgba(251, 235, 4, 0.01) 60%,
      rgba(251, 235, 4, 0.02) 70%,
      rgba(251, 235, 4, 0.08) 80%,
      rgba(251, 235, 4, 0.3));
}

.right-gradient {
  height: 100%;

  background-image: linear-gradient(to top right,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.08) 40%,
      rgba(255, 255, 255, 0) 50%,
      rgba(251, 235, 4, 0.01) 60%,
      rgba(251, 235, 4, 0.02) 70%,
      rgba(251, 235, 4, 0.08) 80%,
      rgba(251, 235, 4, 0.3));
}


.shadow-sm {
  box-shadow: 0px 20px 40px rgba(34, 34, 34, 0.1);
}


.faq {
  transition: all 0.3s ease-in-out;
}

.faq img {

  transition: all 0.3s ease-in-out;
}

.nav-link {
  transition: all 0.3s ease-in-out;
}

.nav-link-active {
  color: #CF0058;
  transition: all 0.3s ease-in-out;
  position: relative;
}

.nav-link-active::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 50%;
  background-color: #CF0058;
  bottom: -2px;
  transform: translateX(-50%);
  animation: underline-link 0.3s linear;
}

.nav-link:hover {
  color: #CF0058;
  position: relative;
}

.nav-link:hover::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 50%;
  background-color: #CF0058;
  bottom: -2px;
  transform: translateX(-50%);
  animation: underline-link 0.3s linear;
}

@keyframes underline-link {
  from {
    width: 0%;

  }

  to {
    width: 100%;
    transform: translateX(-50%);
  }
}




/* Inputs */
.form-group {
  position: relative;
  border-radius: 4px;
}

.form-group label {
  position: absolute;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 0.8125rem;
  color: #999;
  pointer-events: none;
  -webkit-transition: all 0.5s ease-out 0s;
  transition: all 0.5s ease-out 0s;
}

.form-group input,
textarea {
  display: inline-block;
  border-radius: 5px;
  width: 100%;
  padding: 10px 20px;

  font-size: 0.8125rem;
  color: #333;
  box-shadow: none;
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.form-group input {
  height: 40px;
}


.form-group input:focus+label,
input:valid+label,
textarea:focus+label,
textarea:valid+label {
  top: 0px;
  left: 10px;
  font-size: 0.7rem;
  color: #FFF;
  background: #CF0058;
  padding: 0 10px;
  border-radius: 5px;
}

.form-group textarea:focus+label,
textarea:valid+label {
  top: -0px !important;
  left: 10px
}


.form-group>input:focus,
.form-group>textarea:focus {
  border-width: 1px;
  border-color: #CF0058;
  box-shadow: 0px 0px 0px 4px #E0EAFF;
}

.form-group input:focus::-webkit-input-placeholder {
  color: transparent;
}

textarea {
  resize: none;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}


.show-chat-form {
  height: 552px;
  animation: show-chat-form 0.3s linear;
  transform: translateY(0%);
}

@keyframes show-chat-form {
  from {
    /* height: 0; */
    transform: translateY(50%);
  }

  to {
    height: 552px;
    transform: translateY(0%);
  }
}

.chat-shadow {
  box-shadow: 40px 20px 40px rgba(34, 34, 34, 0.1);
}



/* LOADING INDICATOR */
.deleting .loader div {
  background-color: #CF0058;
  margin-top: 4px;
}

.loader {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 40px;
}


.loader div {
  position: absolute;
  top: 45%;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #FFF;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loader div:nth-child(1) {
  left: 6px;
  animation: loader1 0.6s infinite;
}

.loader div:nth-child(2) {
  left: 6px;
  animation: loader2 0.6s infinite;
}

.loader div:nth-child(3) {
  left: 20px;
  animation: loader2 0.6s infinite;
}

.loader div:nth-child(4) {
  left: 40px;
  animation: loader3 0.6s infinite;
}

@keyframes loader1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes loader3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes loader2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(19px, 0);
  }
}


.animated-btn:hover .loader>div {
  background-color: #CF0058;
}



/* BLOG */
.blog-card {
  transition: all 0.3s linear;
}

.active-page {
  color: #FFF;
  background-color: #CF0058;
  transition: all 0.3s linear;
}



.social-share {
  transition: all 0.3s ease-in-out;
}

.social-share:hover {
  transform: scale(0.8);
}

.similar-card {
  transition: all 0.35s ease-in;
}

.similar-card:hover {
  transform: scale(0.92);
}

.see-all {
  position: relative;
  transition: all 0.3 linear;
}

.see-all:hover::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  left: 50%;
  background-color: #A60048;
  bottom: -2px;
  transform: translateX(-50%);
  animation: underline-link 0.3s linear;
}


.onboarding {
  position: relative;
}

.onboarding::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #A60048;
  animation: onboarding-indicator 0.3s linear;
}

@keyframes onboarding-indicator {
  from {
    width: 0px;
  }

  to {
    width: 100%;
  }
}


.step-indicator {

  position: relative;
}

.step-indicator::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #A60048;

}


/* EDITOR */
.ql-container {
  min-height: 200px;
  border: 1px solid #DDD !important;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.ql-container .ql-snow {
  border: 1px solid #DDD !important;
}

.ql-toolbar.ql-snow {
  border-width: 0px !important;
  border-top: 1px solid #DDD !important;
  border-left: 1px solid #DDD !important;
  border-right: 1px solid #DDD !important;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

}

.ql-editor {
  height: 100% !important;
}

.quill h1 {
  font-weight: bold;
  font-size: 24px;
}



.quill h2 {
  font-weight: bold;
  font-size: 22px;
}

.quill h3 {
  font-weight: bold;
  font-size: 20px;
}

.quill h4 {
  font-weight: bold;
  font-size: 18px;
}

.quill h5 {
  font-weight: bold;
  font-size: 16px;
}

.quill h6 {
  font-weight: bold;
  font-size: 16px;
}

.quill a:visited {

  color: #c58af9;

}

.quill a {
  color: #8ab4f8;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, .1);
}

.quill a:-webkit-any-link {
  cursor: pointer;
}