.modal-cont {
    background: #3333333c;
}

.modal {
    box-shadow: 0px 3px 20px #a600453a;
    border-radius: 20px;
    -webkit-box-shadow: 0px 3px 20px #a600453a;
    -moz-box-shadow: 0px 3px 20px #a600453a;
}

.close_btn {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background-color: #CF0058;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    border-radius: 100%;
}

.close_btn:hover {
    cursor: pointer;
}

.close_btn:focus {
    outline: none;
}


.modal-header>h4 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #CF0058;
    text-align: center,
}

.modal-header>p {
    padding: 0 15px;
    margin-top: 20px;
    line-height: 2.5;
    font-size: 18px;
    font-weight: bold;
    text-align: center,
}




.cont_btn {
    margin-top: 50px;
    margin-bottom: 80px;
    background-color: #CF0058;
    width: 350px;
    height: 100px;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 35px;
    outline: none;
    font-size: 28px;
}

.cont_btn:hover {
    cursor: pointer;
}

.cont_btn:focus {
    outline: none;
}


.form-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

form {

    margin-top: 40px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;

    width: 90%;
    justify-content: space-between;
    align-items: center;


}



.input-group {
    align-self: flex-end;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 70px;
    margin-bottom: 20px;

}





.input-group>input,
.input-group>select,
textarea {
    font-family: 'Quicksand', sans-serif;
    min-width: 50%;
    margin-top: 10px;
    height: 40px;
    padding: 0 10px;
    display: block;
    justify-self: flex-end;
}

.input-group>select {
    height: 44px;
}

.input-group>select>option {
    padding: 0 5px;
}

form>button {
    cursor: pointer;
    border: none;
    box-shadow: 0px 2px 5px #7e023576;
    background: #CF0058;
    border-radius: 25px;
    width: 200px;
    height: 55px;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    align-self: center;
    margin-top: 50px;
}

form>button:active {
    box-shadow: 0px 0px 0px #a600455c;
    background: #b3014e;
}

form>button:hover {
    box-shadow: 0px 0px 0px #a600455c;
    background: #b3014e;
}

@media only screen and (max-width: 600px) {
    .modal {
        margin-top: 0 !important;
        width: 100% !important;
        height: 100% !important;
        padding: 10% !important;
    }

    .close_btn {
        right: 10%;
        width: 30px;
        height: 30px;
        font-size: 20px;
        background-color: white;
        border-color: #CF0058;
        border-width: 1;
        border-style: solid;
        color: #CF0058;
    }

    .modal-header>h4 {
        margin-top: 10px !important;
        font-size: 20px !important;
    }

    .modal-header>p {
        font-size: 16px !important;
        text-align: center;
    }

    .modal-body {

        max-width: 90% !important;
        margin-top: 50px !important;
    }

    .modal-body>p {
        margin-bottom: 25px !important;
        font-size: 22px !important;
    }

    .cont_btn {
        width: 200px;
        height: 50px;
        border-radius: 15px;
        font-size: 22px;
    }

    .modal-footer {
        margin-top: 50px
    }
}