* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    transition: all 0.5s ease-in-out;

}

body {
    font-family: 'Quicksand', sans-serif;
}

nav {
    z-index: 100000;
    display: flex;
    height: 120px;
    width: 100%;
    justify-content: center;
    padding: 20px;
    box-shadow: 0px 3px 6px rgba(34, 34, 34, 0.1);
    position: fixed;
    top: 0;
    background-color: #fff;

}

.flag {
    width: 60px;
    height: 50px;
    border-radius: 6px;
    margin-left: 15px;
}

.nav-container {
    display: flex;
    width: 86%;
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    height: 48px;
}

.nav-download-btn {
    outline: none;
    border: none;
    cursor: pointer;
    background: #CF0058;
    color: #fff;
    font-size: 24px;
    padding: 29px 80px;
    border-radius: 45px;



}

.nav-download-btn:hover {
    background: #b3014e;
}

.nav-download-btn:active {
    background: #b3014e;
}


.main-content {
    margin-top: 90px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.hero {
    display: flex;
    min-height: 50vh;
    background-image: linear-gradient(180deg, #cf005a1b, #fff);
    width: 100%;
}

.hero-left {
    flex: 1;
    padding: 400px 0px 3% 7%;
    padding-bottom: 1200px;
}

.hero-left>span {
    font-size: 32px;
}

.hero-left>h1 {
    margin-top: -10px;
    font-weight: 900;
    color: #A60046;
    font-size: 110px;
    margin-right: 50px;
    z-index: 20;
    margin-bottom: -25px;
    position: relative;
}

.hero-left>.underline {
    height: 50px;
    margin-left: 220px;
    margin-top: -10px;
    z-index: 1;
}

.hero-cta {
    margin-top: 50px;
    display: flex;
    align-items: center;

}

.hero-cta>a>img {
    margin-right: 20px;
    height: 60px;
}


.hero-right {
    padding-bottom: 800px;
    position: relative;
    flex: 2;
    display: flex;
    padding: 30px;
    padding-top: 130px;
    /* background-image: linear-gradient(90deg, #fff,#fff, rgba(211, 211, 85, 0.155) 100.43%); */
}

.boy-persona-cont {
    margin-top: 180px;
    margin-left: 80px;

}

.boy-persona-border {
    border: 1px solid #CF7997;
    border-radius: 20px;
    height: 600px;
    width: 400px;
}

.persona-border {
    border: 1px solid #CF7997;
    border-radius: 20px;
    height: 600px;
    width: 400px;
}

.girl-persona-img {
    margin-top: -30px;
    width: 400px;
    margin-left: 30px;
    z-index: 5;
    position: relative;

}

.boy-persona-img {
    width: 400px;
    margin-left: -30px;
    margin-top: -30px;
}


.hero-right>.girl-to-boy-arrow {

    width: 190px;
    z-index: 1;
    height: 110px;
    object-fit: cover;
    margin-top: 580px;
    margin-left: -100px;
    margin-right: -50px;
}


.chat-n-meet-cont {
    margin-top: -800px;
    padding-left: 7%;
    padding-right: 7%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.chat-n-meet {
    margin-left: 7%;
    align-self: flex-start;
    margin-top: 250px;
    width: 40%;
    margin-top: -80px;
}

.chat-n-meet>h2 {
    font-size: 50px;
    font-weight: 900;
}

.chat-n-meet>p {
    margin-top: 40px;
    font-size: 30px;
}

.chat-n-meet-descs {
    margin-top: 70px;
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    width: 86%;

    justify-content: center;
    flex-wrap: wrap;
}

.chat-n-meet-desc {
    display: flex;
    align-items: center;
    width: 50%;
    margin-bottom: 40px;
}

.chat-n-meet-desc-icon {
    width: 160px;
    height: 160px;
}

.chat-n-meet-desc-txt>h1 {
    font-weight: 600;
    font-size: 34px;
    margin-bottom: 20px;
}

.chat-n-meet-desc-txt>span {
    font-size: 28px;
}

.download-to-device {
    position: relative;
    padding: 90px 0px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(0deg, #CF0058 -29.14%, rgba(232, 0, 178, 0) 143.43%);
    width: 86%;
    border-radius: 20px;
    box-shadow: 0px 3px 6px rgba(34, 34, 34, 0.1);
    /* box-shadow: 0px 15px 30px rgba(207, 0, 88, 0.05); */
}

.left>h2 {
    font-size: 68px;
}

.dwnload-cta {
    margin-top: 30px;
    display: flex;
}

.dwnload-cta>a>img {
    height: 80px;
}

.dwnload-cta>.playstore {
    margin-left: 50px;
}


.right>img {
    width: 280px;
    margin-left: auto;
}


.live-the-life {
    padding: 100px 30px;

    width: 84%;
    margin-top: 150px;
    box-shadow: 0px 20px 40px rgba(34, 34, 34, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.live-the-life-img {
    margin-left: 10%
}

.live-the-life-img>img {
    width: 400px;
    object-fit: contain;
}

.live-the-life-txt {
    flex: 1;
    margin-left: 80px;
}

.live-the-life-txt>h1 {
    font-weight: 600;
    font-size: 90px;
    margin-bottom: 30px;
}

.live-the-life-txt>p {
    font-size: 28px;
    line-height: 50px;
}

.live-the-life-txt>.big {
    /* font-size:28px; */
    width: 90%;
}

.live-the-life-txt>.small {
    display: none;
}

.faqs {
    width: 86%;
    margin-top: 180px;
    margin-bottom: 100px;
    display: flex;

    flex-direction: column;
    align-items: center;
}

.faqs>h3 {
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    margin-bottom: 80px;
}

.faq {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.faq-body-show-cont {
    padding-top: 40px;
    background-color: #FFFAFC;
}

.faq-header {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}


.faq-header>img {
    width: 20px;
}

.expand-less {
    width: 10px !important;
}

.faq-header>h3 {
    font-weight: 500;
    font-size: 34px;
    color: #CF0058
}

.faq-body {
    font-size: 30px;
    display: none;
}

.faq-header>.show-less {
    display: none;
    width: 10px;

}

.faq-body-show {
    font-size: 23px;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.faq>hr {
    margin-top: 20px;
    width: 90%;
}


.hr-none {
    display: none;
}

footer {
    height: fit-content;
    width: 100%;
    padding: 20px 0;
    background-color: #FFFAFC;
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-us>span {
    font-size: 25px;
    font-weight: 500;
    color: #CF0058;
    margin-bottom: 15px;
}

.social-icons {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: space-between;
}

.social-icons>a>img {
    width: 60px;
}

.footer-items {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    padding-bottom: 2%;
}

.footer-items>img {
    width: 130px;
}


.policy>a {
    font-size: 21.5px;
    margin-left: 10px;
    color: #CF0058;
}




/* <<<<<<<<<<<<<<<<<<<<<<<MEDIA QUERIES>>>>>>>>>>>>>>>>>>>>>> */
@media only screen and (max-width: 600px) {
    .main-content {
        overflow-x: hidden;
        width: 100vw;
    }

    nav {
        height: 70px;
        padding-left: 0;
        padding-right: 0;
    }

    .nav-container {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .nav-logo {
        height: 27px;
    }

    .nav-download-btn {
        font-size: 13px;
        padding: 15px 35px;
        border-radius: 30px;
    }

    .flag {
        width: 40px;
        height: 30px;
    }

    .hero {
        flex-direction: column;
        align-items: center;
        background-image: linear-gradient(180deg, #cf005a25, #fff);
    }

    .hero-left {
        flex: 1;
        padding: 60px 60px 1% 6%;
        width: 80%;

        background-image: unset;
    }

    .hero-left>span {
        font-size: 23px;
    }

    .hero-left>h1 {
        margin-top: -10px;
        font-weight: 900;
        color: #A60046;
        font-size: 60px;
        z-index: 20;
        margin-left: 0;
        margin-bottom: -25px;
        position: relative;
    }

    .hero-left>.underline {
        display: none;
    }

    .hero-cta {
        display: none;
    }

    .hero-right {
        margin-right: 0;
        margin-top: 50px;
        width: 100%;
        padding: 0;
        background-image: unset;
        display: flex;
        justify-content: center;
    }

    .persona-border {
        border: none;
        margin-left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .boy-persona-cont {

        display: none;
    }

    .girl-persona-cont {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .girl-persona-img {
        margin-top: 0px;
        margin-left: 0px;
        width: 80vw;
        height: 540px;
        object-fit: cover;
        border-radius: 20px;
    }

    .hero-right>.girl-to-boy-arrow {
        display: none;
    }




    .chat-n-meet-cont {
        margin-top: 0px;
        padding: 0 20px;
        width: 97%;
        position: relative;
    }

    .chat-n-meet {

        margin-top: 250px;
        width: 90%;
        margin-top: -10px;
    }

    .chat-n-meet>h2 {
        font-size: 30px;
        font-weight: 900;
        margin-bottom: 20px;
    }

    .chat-n-meet>p {
        margin-top: 20px;
        font-size: 18px;
    }

    .chat-n-meet-descs {
        margin-top: 30px;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }

    .chat-n-meet-desc {
        align-items: center;
        width: 97%;
        margin-bottom: 30px;
    }

    .chat-n-meet-desc-icon {
        width: 90px;
        height: 90px;
    }

    .chat-n-meet-desc-txt>h1 {
        font-size: 20px;
        margin-bottom: 2px;
    }

    .chat-n-meet-desc-txt>span {
        font-size: 16px;
        /* font-size: 18px; */
    }



    .download-to-device {
        margin-top: -110px;
        padding: 20px 30px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(0deg, #CF0058 -29.14%, rgba(232, 0, 178, 0) 143.43%);
        width: 80%;
        /* box-shadow: 0px 15px 30px rgba(207, 0, 88, 0.05); */
    }

    .left>h2 {
        font-size: 20px;
        text-align: center;
    }

    .dwnload-cta {
        margin-top: 20px;
        display: flex;

        align-items: center;
    }

    .dwnload-cta>a>img {
        /* margin-right: 20px; */
        height: 40px;
    }

    .dwnload-cta>.playstore {
        margin-left: 10px;
    }

    .right>img {
        display: none;
    }


    .live-the-life {
        margin-top: 70px;
        padding: 30px 10px;
        margin-bottom: 40px;
        padding-left: 2%;
        padding-right: 2%;
        width: 94%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        box-shadow: 0 0 0;
        border-radius: 20px;
    }

    .live-the-life-img {
        margin-left: 0%;
        margin-bottom: 60px;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .live-the-life-img>img {
        width: 350px;
    }

    .live-the-life-txt {
        margin-left: 0px;
    }

    .live-the-life-txt>.big {
        display: none;
    }

    .live-the-life-txt>.small {
        display: block;
    }

    .live-the-life-txt>h1 {
        font-weight: 900;
        font-size: 34px;
        margin-bottom: 20px;
    }

    .live-the-life-txt>p {
        font-size: 18px;
        line-height: 1.5;
    }

    .faqs {
        margin-top: 40px;
        width: 100%;
        /* margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center; */
    }

    .faqs>h3 {
        font-size: 24px;
        margin-bottom: 50px;
        width: 95%;
    }

    .faq {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }

    .faq-header {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    .faq-header>img {
        width: 20px;
    }

    .faq-header>h3 {
        font-weight: 500;
        font-size: 20px;
        color: #CF0058;
    }


    .faq-body-show {
        margin-top: 10px;
        font-size: 16px;
        width: 90%;

    }

    .faq>hr {
        width: 90%;
    }


    footer {

        height: fit-content;
        width: 100vw;
        padding: 30px 0;
        /* background-color: #FFFAFC; */
    }


    .contact-us>span {
        font-size: 15px;
    }



    .social-icons {
        width: 50%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .social-icons>a>img {
        width: 30px;
    }

    /* .footer-items {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    padding-left:50px;
    padding-bottom: 2%;
} */

    .footer-items>img {
        width: 80px;
    }



    .policy>a {
        font-size: 14px;
        /* margin-left: 10px;
    color: #CF0058; */
    }


}

@media only screen and (max-width: 370px) {


    .hero-left {
        width: 75%
    }

    .hero-left>h1 {
        font-size: 40px;
    }



    .chat-n-meet>h2 {
        font-size: 30px;
        font-weight: 900;
        margin-bottom: 20px;
    }

    .chat-n-meet>p {
        margin-top: 20px;
        font-size: 20px;
    }

    .chat-n-meet-descs {
        margin-top: 30px;
        align-items: flex-start;
        flex-direction: column;
    }

    .chat-n-meet-desc {
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
    }

    .chat-n-meet-desc-icon {
        width: 80px;
        height: 80px;
    }

    .chat-n-meet-desc-txt>h1 {
        font-size: 20px;
        margin-bottom: 2px;
    }

    .chat-n-meet-desc-txt>span {
        font-size: 15px;
    }



    .download-to-device {
        padding: 20px 30px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(0deg, #CF0058 -29.14%, rgba(232, 0, 178, 0) 143.43%);
        width: 80%;
    }

    .left>h2 {
        font-size: 20px;
        text-align: center;
    }

    .dwnload-cta {
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dwnload-cta>a>img {
        margin-right: 20px;
        height: 40px;
    }


    .right>img {
        display: none;
    }


    .live-the-life {
        padding: 30px 10px;
        padding-left: 2%;
        padding-right: 2%;
        width: 94%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        box-shadow: 0 0 0;
        border-radius: 20px;
    }

    .live-the-life-img>img {
        width: 200px;
    }

    .live-the-life-txt {
        margin-left: 0px;
    }

    .live-the-life-txt>h1 {
        font-weight: 900;
        font-size: 28px;
        margin-bottom: 20px;
    }

    .live-the-life-txt>p {
        font-size: 14px;
    }

    .faqs {
        width: 100%;
    }

    .faqs>h3 {
        font-size: 20px;
        margin-bottom: 50px;
    }

    .faq {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }

    .faq-header {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    .faq-header>img {
        width: 20px;
    }

    .faq-header>h3 {
        font-weight: 500;
        font-size: 20px;
        color: #CF0058;
    }

    .faq-body {
        font-size: 14px;
    }

    .faq-body-show {
        width: 90%;

    }

    .faq>hr {
        width: 90%;
    }


    footer {

        height: fit-content;
        width: 100vw;
        padding: 30px 0;
    }






    .social-icons>a>img {
        width: 30px;
    }

    .footer-items {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        padding-left: 50px;
        padding-bottom: 2%;
    }

    .footer-items>img {
        width: 80px;
    }


    .policy>a {
        margin-left: 10px;
        color: #CF0058;
    }


}

/* @media  screen and (min-width: 601px) and (max-width:1223px){
    .hero-left>span {
        font-size: 22px;
    }

    .hero-left>h1 {
        margin-top: -10px;
        font-size: 65px;
    }

    .hero-cta>a>img {
        margin-right: 20px;
        height: 50px;
    }
    .hero-left>.underline {
        height: 20px;
    }

    .boy-persona-border {
        height: 300px;
        width: 200px;
        margin-top: -70px !important;
    }

    .persona-border {
        height: 300px;
        width: 200px;
    }

    .girl-persona-img {
        width: 200px;
        
    }

    .boy-persona-img {
        width: 200px;
     }


    .hero-right>.girl-to-boy-arrow {
        height: 100px;
        margin-top: 250px;
        }


    .live-the-life-txt>h1 {
        font-size: 48px;
    }
    .left>h2 {
            font-size: 44px;
    }
    
    
        .dwnload-cta>a>img {
            margin-right: 20px;
            height: 50px;
        }
    
    
        .right>img {
            width: 180px;
            margin-left: auto;
        }
} */

/* @media  screen and (min-width: 601px) and (max-width:900px){
.hero-left>span {
        font-size: 18px;
    }

    .hero-left>h1 {
        margin-top: -10px;
        font-size: 55px;
    }

    .hero-left>.underline {
        height: 15px;
    }

        .hero-cta>a>img {
             margin-right: 20px;
             height: 40px;
             position: relative;
             z-index: 100;
         }

         .hero-right{
            padding-left: 0;
            margin-left: -40px
         }

            .live-the-life-txt> .big {
                 display: none;
                }
            .live-the-life-txt> .small {
                 display:block;
                }

                .live-the-life-txt >p{
                    font-size: 17px;
                }

                .live-the-life-img >img{
                    width: 300px;
                }
    .boy-persona-border {
        height: 210px;
        width: 150px;
        margin-top: -70px !important;
        margin-left: -50px;
    }

    .persona-border {
        height: 210px;
        width: 150px;
        margin-right: -30px;
    }

    .girl-persona-img {
        width: 150px;
        
    }

    .boy-persona-img {
        width: 150px;

     }


    .hero-right>.girl-to-boy-arrow {
        height: 80px;
        width: 100px;
        margin-left:1px;
        margin-right: 1px;
        margin-top: 180px;
        }

        
.chat-n-meet > h2{
    font-size: 38px;
}
.chat-n-meet > p{
    font-size: 20px;
}

    .chat-n-meet-desc-txt>h1 {
        font-weight: 900;
        font-size: 26px;
    }
        
                 .chat-n-meet-desc-txt>span {
                     font-size: 15px;
                 }
        
        
                 .left>h2 {
                     font-size: 34px;
                 }
        
        
                 .dwnload-cta>a>img {
                     margin-right: 20px;
                     height: 40px;
                 }
        
        
                 .right>img {
                     width: 140px;
                     margin-left: auto;
                 }
        
        
                 .faqs>h3 {
                     font-weight: 500;
                     font-size: 30px;
                     text-align: center;
                     margin-bottom: 40px;
                 }
        
                 .faq-header>h3 {
                     font-size: 24px;
                 }
        
        
                 .faq-body-show {
                     font-size: 18px;
                 }
        
       } */

/* @media screen and (min-width: 601px) and (max-width: 778px){

    .hero-left {
            padding: 200px 0px 0% 2%;
        }
    .hero-left>span {
        font-size: 14px;
    }

    .hero-cta>a>img {
             margin-right: 10px;
             height: 40px;
             position: relative;
             z-index: 100;
    }

    .hero-left>h1 {
        margin-top: -10px;
        font-size: 45px;
    }

    .hero-left>.underline {
        height: 12px;
        width: 70px;
        margin-left: 170px;
        margin-top: 10px;
    }

    .hero-right {
       margin-left: -34px
    }

    .boy-persona-cont {
        margin-top: 150px;
        margin-left: 45px;
    }
            
    .boy-persona-img {
        margin-left: -15px;
        position: relative;
        z-index: 200;
    }
    
    .girl-persona-img {
        margin-left: 15px;
    }

    .chat-n-meet-cont {
        margin-top: 100px;
        padding-left: 2%;
        padding-right: 2%;
    }


    
    .chat-n-meet {
        margin-left: 3%;
        margin-top: 250px;
        width: 80%;
        margin-top: -30px;
    }
    
    .chat-n-meet>h2 {
        font-size: 34px;
        font-weight: 900;
    }
    
    .chat-n-meet>p {
        margin-top: 10px;
        font-size: 18px;
    }
  


    .chat-n-meet-descs {
        margin-top: 30px;
        width: 96%;
        
    }
        
    .chat-n-meet-desc {
        width: 50%;
    }
        
    .chat-n-meet-desc-icon {
        width: 70px;
        height: 70px;
    }
        
    .chat-n-meet-desc-txt>h1 {
            font-weight: 900;
            font-size: 26px;
    }
        
    .chat-n-meet-desc-txt>span {
        font-size: 15px;
    }

    
    .left>h2 {
        font-size: 34px;
     }
    
    
        .dwnload-cta>a>img {
            margin-right: 20px;
            height: 40px;
        }
    
    
        .right>img {
            width: 140px;
            margin-left: auto;
        }


    .faqs>h3 {
        font-weight: 500;
        font-size: 30px;
        text-align: center;
        margin-bottom: 40px;
    }
        .faq-header>h3 {
            font-size: 24px;
        }
        
        
        .faq-body-show {
            font-size: 18px;
        }


} */