@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
  ;
}

.success-cont {
  background-color: rgba(255, 255, 255, 0.751);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success {
  margin-top: -10%;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.success>a {
  text-decoration: none;
  /* box-shadow: 0px 3px 1px #39001876; */
  margin-top: 20px;
  /* background-color: #A60046; */
  align-self: center;
  color: #A60046;
  /* padding: 18px; */
  /* border-radius: 10px; */
}


.success>a:active {
  box-shadow: 0px 0px 0px #a600455c;
  color: #a60045d5;
}


.success-img-cont {
  background-color: rgb(5, 172, 5);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.success-wrapper {
  background-color: rgb(255, 255, 255) !important;
  border: 1px solid rgb(5, 172, 5);
  box-shadow: 0px 1px 2px 5px #13d55725;

}

.success-img {
  width: 90px;
  object-fit: contain;
}

.success-text {
  margin-top: -1px;
  font-size: 25px;
  color: #155906;
  font-weight: 700;
}



/* BLOG STYLES*/
.blog-container {
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 10%;
  overflow-x: hidden;
  line-height: 1.5;
}

.blog-wrapper {
  width: 105%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* rgba(34, 34, 34, 0.1); */
  border-radius: 20px;
  padding: 30px 5%;
  background-color: #fff;
}

.blog-header {
  align-self: center;
  width: 100%;
  max-width: 1000px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 10
}

.blog-header>h1 {
  text-align: center;
  max-width: 90%;
}

.blog-header>h5 {
  margin-top: 20px;
  font-size: 18px;
  font-style: italic;
  text-align: center;
}

.blog-header>img {
  max-width: 900px;
  width: 160%;
}

.blog-body {
  padding: 20px 0;
  background-color: #fff;
  align-self: center;
  max-width: 1000px;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.blog-body>p {
  margin-bottom: 15px;
}

ul {
  padding: 20px 40px;

}

li {
  margin-bottom: 15px;
}

.italicized {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.blog-body>h3 {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 30px;
}

.blog-body>img {
  margin-top: 20px;
  max-width: 500px;
  width: 80%;
  align-self: center;
}

.blog-body>p>span {
  font-weight: bold;
  font-size: 18px;
}




.blog-body>a {
  text-decoration: none;
  margin-top: 20px;
  background: #CF0058;
  align-self: center;
  color: #fff;
  padding: 18px 30px;
  border-radius: 30px;
}

.blog-body>a:active {
  background: #b3014e;
}

.blog-body>a:hover {
  background: #b3014e;
}

/* BLOG STYLES END*/